doctype html
html
	head
		title Is Alec Alive In Taiwan?
		style.
			body {
				text-align: center;
			}
		script.
			function onBodyLoad() {
				var dateUpdated = new Date("#{dateUpdated}");
				document.getElementById("timespan").setAttribute("title", dateUpdated.toLocaleString());
			}

	body(onload="onBodyLoad()")
		pre Alec is
		pre #{description.toUpperCase()} ALIVE
		pre in Taiwan
		a(href="#{latestLargeImage}")
			img(src="#{latestThumbnailImage}")
		pre(id="timespan") Updated #{timespan}